.modal-main {
  height: fit-content;
  position: relative;
  z-index: 1;
  width: 100%;
  color: #000;

  @include respond(tab-port) {
    background-image: linear-gradient(to right bottom, #1a1a2e, #b7bed3);
    color: #cfd1d6;
  }
}
.vedioFormModal {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  height: 100%;
}
video {
  @include respond(tab-port) {
    display: none;
  }
}

.first-para {
  // padding-top: 1rem;
  margin-bottom: 2rem;
}
.second-para {
  margin-bottom: 2rem;
}
.model-textarea {
  position: relative;
  font-size: 1.5rem;
}
.modalbutton {
  border: 1px solid black;
  width: 5rem;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #28df99;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
