.footerMain {
  position: relative;
  text-align: center;
  font-size: 2rem;
  display: grid;
  padding: 15rem 3rem;
  // margin-top: -10rem;
  max-height: 500px;
  clip-path: polygon(0% 25%, 100% 0, 100% 99%, 0% 100%);
  width: 100%;
  background-image: linear-gradient(to right bottom, #1a1a2e, #0f3460);
  color: #fff;
}
.logoDiv {
  position: relative;
}
.footerLogo {
  //   position: absolute;
  //   top: 0.5rem;
  //   left: 13rem;
  width: 90px;
  height: 90px;
}
ul {
  list-style: none;
}
.secondFooter {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 2rem;
}
