.mainNav {
  background-image: linear-gradient(to right bottom, #1a1a2e, #0f3460);
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  font-size: 2rem;
}
.unorderedList {
  width: 80%;
  font-size: 1.5rem;

  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.logo {
  width: 4rem;
  height: 3rem;
  background-color: transparent;
}
a {
  color: #fff;
  text-decoration: none;
}
