.project {
  text-align: center;
  // padding: 20rem;
  min-height: 100px;
  min-width: 100%;
  background-image: linear-gradient(to right bottom, #1a1a2e, #b7bed3);
}
.project-heading {
  display: inline-block;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;

  letter-spacing: 0.2rem;
  transition: all 0.2s;
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    // text-shadow: 0.5rem 1rem rgba($color: #000000, $alpha: 0.2);
  }
}
.project-first {
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;

  min-height: 300px;
}
.first-information {
  max-height: fit-content;
  max-width: 50%;
  color: aliceblue;
  font-size: 1rem;
}
/* css for image div */
.first-pictures {
  width: 50%;
  position: relative;
}

.image {
  max-width: 30%;
  position: absolute;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.image:hover {
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 2;
  outline: 1.5rem solid rgba(14, 237, 44, 0.8);
}
.image-1 {
  left: 10rem;
  top: 2rem;
}
.image-2 {
  right: 13rem;
  top: 4rem;
}
.image-3 {
  left: 20%;
  top: 5rem;
}
